<div class="page">
    <h1 class="center pageTitle">
        {{title | titlecase}}
    </h1>
    <div class="content"> 
        <div class="contentInner">
        <h2>Contact Information</h2>
        <h3>Emil Nakayama</h3>
        <ul>
            <li><label>Email: </label><a href="mailto:{{email}}">{{email}}</a></li>
        </ul>
        <br>
        <div class="meImg">
            <img src="assets/images/me.jpg" />
        </div>
        </div>
    </div>
</div>