
.meImg {
    position: relative;
    width: 200px;
    height: 200px;
    max-height: 96vw;
    max-width: 96vw;
    display: block;
    /* overflow: hidden; */
}
.meImg .frame {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
} 
.meImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 50% 50%; */
    border-radius: 50%;
}