<div class="page">
    <!-- <button class="icon right menu" (click)="menu()"><mat-icon aria-hidden="false" aria-label="menu icon">menu</mat-icon></button> -->
    <h1 class="h1 pageTitle" (click)="menu()" style="cursor: pointer;">
        {{title | titlecase}}
        <mat-icon aria-hidden="false" aria-label="menu icon">menu</mat-icon>
    </h1>
    
    <div class="content"> 
        <h2>Projects</h2>
        <div class="projectsWrapper">
            <ul class="projectsList">
                <li *ngFor="let p of projects">
                    <button (click)="load(p.url)" [ngClass]="{selected: p.url === currentProject}">{{p.name}}</button>
                </li>
            </ul>
            <div id="projectView" class="projectView">
                <ng-template projectHost></ng-template>
            </div>
        </div>  
    </div>
</div>