.projectView{
    margin-top: 5px;
}
.projectsList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    width: fit-content;
    max-width: 500px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}
.projectsList li {
    display: inline-block;
}
.page {
    min-height: 100vh;
    background-color: rgba(255,255,255,.06);
  }

  .menu {
      position: absolute;
      right: 0;
  }

