<div class="page">
    <h1 class="center pageTitle">
        {{title | titlecase}}
    </h1>
    <div class="content"> 
        <div class="contentInner">
            <h2>If you're in need of web developement, I'm here to help.</h2>
            <p>This project is a personal playground for testing out stuff and enhancing my skills.</p>
            <p>The project itself is build in Angular.</p>
            <p>Get in touch by sending me an <a href="mailto:{{email}}">email</a> about your project and let us discuss the details.</p>
        </div>
    </div>
</div>