@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

/* Desaturated Triade from styles.css */
/* body {
    --tcol-main: rgba(80, 173, 162, 1);
    --tcol-cont1: rgba(173, 97, 169, 1);
    --tcol-cont2: rgba(173, 157, 90, 1);
    --tcol-d-main:rgba(45, 97, 91, 1);
    --tcol-d-cont1: rgba(99, 55, 96, 1);
    --tcol-d-cont2: rgba(99, 90, 53, 1);
    --tcol-bg1: rgba(31, 17, 29, 1);
    --tcol-bg2: rgba(31, 28, 16, 1);
} */

.codeContainer {
    --container-bg: rgba(125,125,125,.3);
    --box-shadow: rgba(80,80,80,1);
}
.codeContainer * {
    border-radius: 3px;
}
.codeContainer {   
    --block-height: auto;
    --block-min-height: 400px;
    --block-width: 60vw;
    --block-depth: 15px;
    --block-min-height: min(100vh, 300px);
    --block-width: min(1000px,95vw);
    --block-depth: 15px;
    --block-highlight-color: rgba(52, 255, 41, 1);
    --block-highlight-bg: rgba(255, 41, 154, 1);
    --block-highlight-color: rgb(255, 255, 255);
    --block-highlight-bg: rgb(0, 0, 0);
    --block-highlight-color: var(--tcol-main);
    --block-highlight-bg1: var(--tcol-d-main);
    --block-highlight-bg2: var(--tcol-d-cont1);
}
.codeContainer {
    padding-top: 50px;
    height: auto;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(0deg, var(--container-bg), var(--container-bg));;
    color: var(--block-highlight-color);
    text-align: left;
}
.codeContainer p:not(.links){
    font-size: 200%;
}

.codebox {
    height: var(--block-height);
    min-height: var(--block-min-height);
}
.codebox section {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 3000px;
    height: auto;
    padding: 10px;
}

.codebox section .box {
    position: relative;
    width: var(--block-width);
    height: var(--block-height);
    min-height: var(--block-min-height);
    box-shadow: 20px 20px 20px var(--box-shadow);
    transform-style: preserve-3d;
    transition: .5s;
    background: linear-gradient(-75deg, var(--block-highlight-bg1), var(--block-highlight-bg2));
    /* background-color: green; */
}
.codebox section .box::before { 
    content: '';
    position: absolute;
    width:  var(--block-depth);
    height: 100%;
    min-height: var(--block-min-height);
    transform-origin: left;
    background: linear-gradient(90deg,  var(--block-highlight-color), rgba(200, 200, 200, 1));
    background-position: center;
    transform: rotateY(90deg);
}
/* .codebox section .front::after {  */
    .codebox section .back { 
    /* content: ''; */
    
    width:  100%;
    height: var(--block-height);
    min-height: var(--block-min-height);
    padding: 20px;
    transform-origin: center;
    background: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 1) 0% 60%, 
        rgba(200, 200, 200, 1));
    color: black;
    background-position: center;
    transform: rotateY(180deg) translateZ(var(--block-depth)); 
    overflow: hidden;
}
.codebox section .back code { 
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Fira Code', monospace; */
    /* font-family: 'Anonymous Pro', monospace; */
}
.codebox section .back button.close { 
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1;
}
.codebox section.display {
    display: block;
    height: auto;
    opacity: 1;
    transition: opacity .3s;
}
.codebox section.hidden {
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding: 0;
}
.codebox section .back ul.codeTypes li { 
    display: inline-block;
}
.codebox section .back ul.codeTypes button { 
    border: 1px solid grey;
    transition: color .3s, background-color .3s;
    font-family: 'Roboto', sans-serif;
}
.codebox section .back ul.codeTypes button.selected { 
    color: var(--block-highlight-color);
    background-color: var(--block-highlight-bg1);
    background: linear-gradient(-75deg, var(--block-highlight-bg1), var(--block-highlight-bg2));
}
.codebox section .box:hover {
    transform: rotateY(3deg);
    box-shadow: 15px 20px 15px var(--box-shadow);
}
.codebox section .box:active {
    transform: rotateY(180deg);
    box-shadow: -20px 20px 20px var(--box-shadow);
}
.codebox section .box.pinned {
    transform: rotateY(180deg);
    box-shadow: -20px 20px 20px var(--box-shadow);
}
.codebox section .front { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: min(100%,80vh);
    min-height:  var(--block-min-height);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.codebox section .front .logo { 
    font-size: min(100px, 14vw);
    text-transform: lowercase;
    line-height: var(--block-height);
}

.codebox .back .stamp {
    transform: rotate(10deg);
    color: darkred;
    font-family: 'Special Elite', cursive;
    border: 1px solid darkred;
    border-radius: 5px;
    padding: 3px;
    margin-top: 20px;
    width: fit-content;
}

pre code {
    background-color: rgba(0,0,0,0);
    display: block;
    padding: 20px;
    /* text-align: left; */
    /* white-space: pre-line; */
  }

.shortcut {
    opacity: 0.1;
}

.shortcut:hover {
    opacity: 1;
}