<div class="shortcut fixedBR">
    <button *ngIf="pinned" class="circle60" (click)="jumpTop()">
        <!-- &lt;code&gt; -->
        <mat-icon _ngcontent-uml-c60="" role="img" aria-hidden="false" aria-label="top icon" class="mat-icon notranslate ng-tns-c60-0 material-icons mat-icon-no-color" data-mat-icon-type="font">keyboard_arrow_up</mat-icon>
    </button>  
    <button *ngIf="!pinned" class="circle60" (click)="jumpCode()">
        &lt;code&gt;
    <!-- code -->
    </button>      
</div>
<div id="codeContainer" class="codeContainer">
    <div class="codebox">
        <section>
            <div class="box" [ngClass]="pinned? 'pinned' : ''">
                <div class="front" (click)="togglePinned()">
                    <div class="logo">
                        <h1>&lt;code&gt;</h1>
                        <!-- <img  src="assets/images/designs/ao.png"> -->
                    </div>
                </div>
                <div class="back">
                    <button class="close" (click)="togglePinned()">
        <mat-icon _ngcontent-uml-c60="" role="img" aria-hidden="false" aria-label="top icon" class="mat-icon notranslate ng-tns-c60-0 material-icons mat-icon-no-color" data-mat-icon-type="font">
            close
        </mat-icon>

                    </button>
                        <ul class="codeTypes">
                            <li *ngFor="let m of msg | keyvalue; index as i">
                                <button *ngIf="m && m.value" (click)="selectCodeType(m.key)" [ngClass]="codeDisplay === m.key ? 'selected' : ''">
                                    {{'&lt;'+m.key+'&gt;'}}
                                </button>
                            </li>
                        </ul>
                        <section *ngFor="let m of msg | keyvalue" [ngClass]="m.key === codeDisplay? 'display':'hidden'">
                            <!-- Code -->
                            <div *ngIf="m.value && m.key !== 'links'">
                                <span class="{{m.key}}">{{'&lt;'+m.key+'&gt;'}}</span>
                                <p class="center code {{m.key}}" *ngIf="m.value && m.value === 'classified'" [ngClass]="m.value === 'classified'? 'stamp':''">
                                    {{m.value}}
                                </p>    
                                <pre class="code {{m.key}}" *ngIf="m.value && m.value !== 'classified'">
                                    <code [highlight]="m.value">
                                        {{m.value}}
                                    </code>
                                </pre>    
                                <span class="{{m.key}}">{{'&lt;/'+m.key+'&gt;'}}</span>
                            </div>
                            <!-- Links -->
                            <div *ngIf="m.value && m.key === 'links'">
                                <span class="{{m.key}}">{{'&lt;'+m.key+'&gt;'}}</span>
                                <p class="links" *ngFor="let l of m.value" class="center {{m.key}}">
                                    <a href='{{l}}' target="_blank">{{l}}</a>
                                </p>    
                                <span class="{{m.key}}">{{'&lt;/'+m.key+'&gt;'}}</span>
                            </div>
                        </section>
                </div>
            </div>
        </section>
    </div>
</div>