<div class="page">
    <h1 class="center pageTitle">
        {{title | titlecase}}
    </h1>
    <div class="content center"> 
        <div class="contentInner">
            <h2 class="red">Error!</h2>
            <p>The page was not found</p>
        </div>

    </div>
</div>