<div class="codeWrapper">
<div class="projectContainer">
    <h1 class="center title">{{title | titlecase}}</h1>
    <div class="component home page">
        <div id="counter">{{state.countvalue}}</div>
        <div id="controls" #controls>
          <fieldset>
            <legend>Setup</legend>
            <button #button [ngClass]="state.count ? 'selected' : '' " id="start">start</button>
            <button #button [ngClass]="state.count ? '' : 'selected' " id="pause">pause</button>
            <button #button id="reset">reset</button>
          </fieldset>
          <fieldset>
            <legend>Count</legend>
            <button #button [ngClass]="state.countup ? 'selected' : '' " id="countup">count up</button>
            <button #button [ngClass]="state.countup ? '' : 'selected' " id="countdown">count down</button>
          </fieldset>
          <fieldset>
            <legend>Set to</legend>
            <input #input type="number" id="settov" [(ngModel)]="set.countvalue" >
            <br/>
            <button #button type="number" id="setto">set value</button>
          </fieldset>
          <fieldset>
            <legend>Speed</legend>
            <input #input type="number" id="speed" [(ngModel)]="set.speed">
            <br/>
            <button #button id="setspeed">set speed</button>
          </fieldset>
          <fieldset>
            <legend>increment</legend>
            <input #input type="number" id="increment" [(ngModel)]="set.increment">
            <br/>
            <button #button id="setincrement">set increment</button>
          </fieldset>
        </div>
    <!-- <div class="credits">
      <h2 class="center">Credits</h2>
      <h3 *ngFor="let link of links" class="center"><a href="{{link}}" target="_blank">{{link}}</a></h3>
    </div> -->
    </div>
    <app-codewrap [msg]="code"></app-codewrap>
</div>
</div>