.page {
  min-height: 100vh; 
}
input,
#counter,
#controls {
  text-align: center;
  margin: auto;
}

#counter {
  font-size:  min(10vh, 100px);
}

#controls {
  width: 50%;
}

.selected {
  color: var(--tcol-main);
  background: linear-gradient(-75deg, var(--tcol-d-main), var(--tcol-d-cont1));
}

.credits {
  padding-top: 20px;
  margin: auto;
}

fieldset {
  border-radius: 5px;
}