.codeWrapper {
    --block-height: 50vw;
    --block-width: 60vw;
    --block-depth: 5vw;
}
.codeWrapper {
    background-color: brown;
}
.codeContainer {
    min-height: 100vh;
    padding: 50px;
}
.codeContainer p{
    /* background-color: dodgerblue; */
    font-size: 200%;
}

.codebox section {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.codebox section .box {
    position: relative;
    width: var(--block-width);
    min-width: 400px;
    height: var(--block-height);
    box-shadow: 20px 20px 20px black;
    transform-style: preserve-3d;
    transition: .5s;
    background-color: green;
}
.codebox section .box::before { 
    content: '';
    position: absolute;
    width:  var(--block-depth);
    height: 100%;
    transform-origin: left;
    background-color: blue;
    background-position: center;
    transform: rotateY(90deg);
}
/* .codebox section .front::after {  */
    .codebox section .back { 
    content: '';
    position: absolute;
    width:  100%;
    height: 100%;
    transform-origin: center;
    background-color: blue;
    background-position: center;
    transform: rotateY(180deg) translateZ(var(--block-depth)); 
}
.codebox section .box:hover {
    transform: rotateY(30deg);
}
.codebox section .box:active {
    transform: rotateY(180deg);
}
.codebox section .box.pinned {
    transform: rotateY(180deg);
}
.codebox section .front { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}