body {
    --tcol-main: rgba(80, 173, 162, 1);
    --tcol-cont1: rgba(173, 97, 169, 1);
    --tcol-cont2: rgba(173, 157, 90, 1);
    --tcol-d-main:rgba(45, 97, 91, 1);
    --tcol-d-cont1: rgba(99, 55, 96, 1);
    --tcol-d-cont2: rgba(99, 90, 53, 1);
    --tcol-bg1: rgba(31, 17, 29, 1);
    --tcol-bg2: rgba(31, 28, 16, 1);
}
    
.workspace {
    text-align: center;
    min-height: 100vh;
}

.source {
    min-width: 400px;
    max-width: 500px;
    width: 40%;
    margin: auto;
    text-align: left;
    padding: 20px 0 0 0;
}

.originalWrapper {
    padding: 20px 0 0 0;
    border-bottom: 0px solid var(--main-color);
    * {
        transition:height .5s, visibility .5s, opacity .5s, border-bottom .5s;
    }
    .title {
        width: fit-content;
        margin: auto;
    }
}

.originalWrapper.collapse {
    overflow: hidden;
    * {
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
    }

    .persist {
        height: initial;
        visibility: visible;
        opacity: 1;
        cursor: pointer;
    }
    .persist:not(span) {
        border-bottom: 1px solid var(--main-color);
    }
}

.originalWrapper .cropBtn {
    width: 100%;
    max-width: 500px;
}

.original_container {
    position: relative;
    width: 80%;
    max-width: 500px;
    max-width: min(500px, 100%);
    margin: auto; 
    padding: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
}

.original_container > img {
    width: 100%;
    display: block;
}

.clContainer {
    width: auto;
    height: 100%;
}
.cardlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    vertical-align: top;
}
.watermarkList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.watermark .card {
    position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
.watermark img {
    display: block;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.watermark img.overlay {
    position: absolute;
    max-width: 100%;
    max-height: 50%;
    bottom: 0;
    top: 0;
}

.profilePic {
    width: 100%;
}
.watermark {
    padding: 20px 0 0 0; 
}

.results {
    padding: 20px 0 0 0;
}
.result img{
    display: inline-block;
    max-width: 500px;
    max-height: 300px;
}

.result img.hidden{
    display: none;
}

