
/* START Logo centered img */

.logo-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container .logo {
    max-width: 80%;
    max-height: 80%;
    display: initial;
    width: auto;
}

/* END Logo centered img */


/* START Video container fullscreen muted */

.outer-video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
}

.outer-video-container:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(26, 34, 45, 0.5);
    z-index: 5;
}

.inner-video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inner-video-container video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
}

/* END Video container fullscreen muted */


/*OPTIONAL example content */

.extra-content {
    height: 200px;
    width: 100%;
    background-color: black;
    display: table;
}

.extra-content * {
    color: white;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

.extra-content img {
    max-height: 200px; /*specific to this page*/
    width: auto;
    margin: auto;
}

/*OPTIONAL*/