<div class="codeWrapper">
    <div class="projectContainer">
    <h1 class="center title">{{title | titlecase}}</h1>
    <div class="logo-container">
            <img class="logo" src="assets/images/designs/ao.png" alt="LOGO">
    </div>
    <div #scrollTo id="scrollTo" class="outer-video-container">
        <div class="inner-video-container">
            <video crossorigin="anonymous" onended="this.play();" loop autoplay="autoplay" [muted]="true">
                <source crossorigin="anonymous" type="video/mp4" src="assets/videos/bgNoAudio.mp4">
            </video>
        </div>
    </div>
    <div class="extra-content">
        <img src="assets/images/designs/ao.png">
        <h2>SOME TEXT</h2>
    </div>
    <div class="extra-content">
        <h2>ANOTHER TEXT</h2>
        <img src="assets/images/designs/ao.png">
    </div>
    <app-codewrap [msg]="code"></app-codewrap>
    </div>
</div>