@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Desaturated Triade */
/* body {
    --tcol-main: rgba(80, 173, 162, 1);
    --tcol-cont1: rgba(173, 97, 169, 1);
    --tcol-cont2: rgba(173, 157, 90, 1);
    --tcol-d-main:rgba(45, 97, 91, 1);
    --tcol-d-cont1: rgba(99, 55, 96, 1);
    --tcol-d-cont2: rgba(99, 90, 53, 1);
    --tcol-bg1: rgba(31, 17, 29, 1);
    --tcol-bg2: rgba(31, 28, 16, 1);
} */
.wrapper.light {
    --bg-color: rgba(200,200,200,1); 
    --main-color: rgba(30,30,30,1); 
}

.wrapper.dark {
    --bg-color: rgba(30,30,30,1); 
    --main-color: rgba(200,200,200,1); 
}

* {
    background-color: var(--bg-color);
    color: var(--main-color);
    transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

.mainTitle {
    height: 50px;
    font-size: 50px;
    height: min(50px, 9vw);
    font-size: min(50px, 9vw);
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Abel', sans-serif;
}

.themeSelector {
    position: fixed;
    top: 2px;
    right: 2px;
    padding: 0;
    background-color: rgba(0,0,0,0);
    opacity: 0.1;
    transition: opacity .3s;
}
.themeSelector:hover { 
    opacity: 1;
}

.themeSelector * {
    background-color: rgba(0,0,0,0);
}