<div class="wrapper {{theme}}">
    <h1 class="h1 center mainTitle">{{title | uppercase}}</h1>
    <button class="themeSelector" (click)="toggleTheme()"><mat-icon aria-hidden="false" aria-label="menu icon">{{theme === 'light' ? 'brightness_7' : 'brightness_3'}}</mat-icon></button>
    <app-navigation></app-navigation>

    <main [@navAnimation]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </main>

</div>

