                    
                    <!-- user format -->
                    <ul class="result" *ngIf="currentResource == '/users'">
                        <li><label>id: </label><input type="text" value="{{s.id}}" disabled readonly/></li>
                        <li><label>name: </label><input type="text" value="{{s.name}}" /><button>update</button></li>
                        <li><label>username: </label><input type="text" value="{{s.username}}" /><button>update</button></li>
                        <li><label>email: </label><input type="text"  value="{{s.email}}" /><button>update</button></li>
                        <li><label>address: </label><br>
                            <ul class="address">
                                <li><label>street: </label><input type="text"  value="{{s.address.street}}" /><button>update</button></li>
                                <li><label>suite: </label><input type="text"  value="{{s.address.suite}}" /><button>update</button></li>
                                <li><label>city: </label><input type="text"  value="{{s.address.city}}" /><button>update</button></li>
                                <li><label>zipcode: </label><input type="text"  value="{{s.address.zipcode}}" /><button>update</button></li>
                                <li><label>geo: </label><br>
                                <ul class="addressGeo">
                                    <li><label>lat</label><input type="number" step="0.00001" value="{{s.address.geo.lat}}" /><button>update</button></li>
                                    <li><label>lng</label><input type="number" step="0.00001" value="{{s.address.geo.lng}}" /><button>update</button></li>
                                </ul>
                            </ul>
                        </li>
                        <li><label>phone: </label><input type="text"  value="{{s.phone}}" /><button>update</button></li>
                        <li><label>website: </label><input type="text"  value="{{s.website}}" /><button>update</button></li>
                        <li><label>company: </label><br>
                            <ul class="company">
                                <li><label>name: </label><input type="text"  value="{{s.company.name}}" /><button>update</button></li>
                                <li><label>catchPhrase: </label><input type="text"  value="{{s.company.catchPhrase}}" /><button>update</button></li>
                                <li><label>bs: </label><input type="text"  value="{{s.company.bs}}" /><button>update</button></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- user format en -->