.workspace {
    max-width: min(96%, 800px);
    margin: auto;
}
.resourceList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.resourceList li {
    display: inline-block;
}

.responseData {
    /* display: inline-block;
    width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchBar button {
    padding: 4px;
}
.searchResult { 
    display: inline-block;
    width: 100%;
}
.searchResultList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.searchResultList button {
    padding: 0;
}
.searchBar, .result{
    vertical-align: top;
    display: table;
    max-width: 100%;
}
.searchBar li, .result li{
    display: table-row;
}
.searchBar li label, .result li label {
    display: table-cell;
    text-align: right;
}
̈́
.result * ul {
    list-style: disc;
}

.resultCard {
    display: inline-block;
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}

.thumb {
    width: 150px;
    height: 150px;
    display: block;
}