<div class="navigationContainer">
    <div class="navigationContent">
        <nav class="navElement">
            <ul class="navList">
                <li *ngFor="let route of r" class="navItem" 
                [ngClass]="{ 
                    'selected': current === route,
                    'active': navService.url === route
                }">
                    <button class="navBtn" (click)="nav(route)">{{ route === '' ? 'Default' : route | titlecase}}</button>
                </li>
            </ul>
        </nav>
    </div>
</div>