/* Add web styles for the component here.  */
.navigationContainer {
    padding: 5px;
    background: linear-gradient(0deg, rgba(130,130,130,.3), rgba(130,130,130,0));
}

.navList {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navList li {
    cursor: pointer;
}

.navList li button {
padding: 0 20px;
}

.navList li.active button{
    color: var(--tcol-main);
    background-color: var(--tcol-d-cont1);
    background: linear-gradient(-75deg, var(--tcol-d-main), var(--tcol-d-cont1));
}