        <!-- Image Source -->
        <div class="source">
        <h3 class="center title">
          Provide Source Image:
          <mat-icon class="opacity50 help" aria-hidden="false" aria-label="menu icon" title="Depending on restrictions on the source, the image may not load or be available for editing">info</mat-icon>
        </h3>
        <label>Insert image URL: </label>
        <input type="url"
        id="file2"
        (change)="handleUrlInput($event.target.value)"
        (keyup.enter)="handleUrlInput($event.target.value)"
        placeholder="Url: web image">
        <span> or </span><br>
        <label>Upload profile picture: </label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
        </div>
        <div class="cardList">

        <!-- Image Crop -->
        <div id="source" class="originalWrapper" [ngClass]="showCropper ? 'show' : 'collapse'"> 
        <h3 class="title pointer persist" (click)="showCropper = !showCropper">
          Crop Original 
          <span class="persist tiny">{{showCropper ? '(collapse)' : '(show)'}}</span>
        </h3>   
        <div id="original" class="original_container">
          <div class="card">
            <angular-cropper *ngIf="fileString" #angularCropper [cropperOptions]="config" [imageUrl]="fileString" (export)="resultImageFun($event)" (ready)="checkstatus($event)"></angular-cropper>
          </div>
          
        </div>
        <button class="cropBtn" (click)="crop()">Crop</button>  
      </div> 
      
      <!-- Apply Watermark -->
      <div #watermark id="watermark" class="watermarksList">
        <div *ngIf="resultImage" class="watermark">
        <h3 class="title">Choose Watermark</h3> 
        <h4 class="title">Click image to render</h4>
          <div *ngFor="let s of styles" class="card" 
          (click)="printCard($event.target)"
          >
            <img 
            id="{{s}}" class="profilePic {{s}}" 
            src="{{resultImage}}" />
            <img
            id="{{s}}" class="styleImg overlay {{s}}" 
            *ngIf="styleImg[s]" src="{{styleImg[s]}}" 
            cdkDragBoundary=".card" cdkDrag
            />
          </div><br>
        </div>
      </div>

      <!-- Final result -->
        <div id="final" class="results">
        <div class="result" *ngIf="resultDisplay !== 'hidden' && result">
          <h3 class="title">Result</h3>
          <h4 class="title">Click Image to Download</h4>
          <a href="{{result}}" download>
          <img crossorigin="anonymous" id="result"  [ngClass]="resultDisplay" src="{{result}}"/>
          </a>
        </div>
      </div>

