        <h2>Resources - <a href="{{API_URL}}" target="_blank">{{API_URL}}</a></h2>
        <ul class="resourceList">
            <li *ngFor="let r of resources"><button (click)="getResource(r)" [ngClass]="{selected: r == currentResource}">{{r}}</button></li>
        </ul>
        <br>
        <div *ngIf="response" class="response">
            <h3 class="center underline">{{'search:' | titlecase}}</h3>
                <div #responseData class="responseData">
                    <ul *ngIf="response" class="searchBar">
                        <li *ngFor="let r of response">
                            <label *ngIf="r.type !== 'object'">{{r.key}}: </label>
                            <input id="{{r.key}}" *ngIf="r.type == 'url'" type="string" (ngModelChange)="search(r.key, $event)" [(ngModel)]="searchData[r.key]"/>
                            <input id="{{r.key}}" *ngIf="r.type == 'string' || r.type == 'number'" type="{{r.type}}" (ngModelChange)="search(r.key, $event)" [(ngModel)]="searchData[r.key]"/>
                            <input id="{{r.key}}" *ngIf="r.type == 'boolean'" type="checkbox" (ngModelChange)="search(r.key, $event)" [(ngModel)]="searchData[r.key]" [readonly]="boolDisable" [disabled]="boolDisable"/>
                            <label *ngIf="r.type == 'boolean'">ignore: </label>
                            <input id="boolDisable" type="checkbox" *ngIf="r.type == 'boolean'" value="true" (click)="search(r.key, $event)" checked>
                            <!-- <input *ngIf="r.type == 'object'" type="string" (ngModelChange)="search(r.key, $event)" [(ngModel)]="searchData[r.key]"/> -->
                        </li>
                    </ul>
                </div>
        
        <div class="searchResult">
            <div class="searchResultList">
                <div *ngFor="let s of searchResult$ | async" >
                    <!-- USER -->
                    <div class="resultCard">
                        <ul class="result" >
                            <li *ngFor="let r of s | keyvalue: asIsOrder;">
                                <label>{{r.key}}: </label>
                                <img class="thumb" *ngIf="r.key == 'thumbnailUrl' && getType(r.value) == 'url'" src="{{r.value}}" alt="s.title" loading="lazy"/>
                                <input name="{{r.key}}" *ngIf="getType(r.value) == 'url'" type="text" value="{{r.value}}"/>
                                <input name="{{r.key}}" *ngIf="getType(r.value) == 'string'" type="text" value="{{r.value}}"/>
                                <input name="{{r.key}}" *ngIf="getType(r.value) == 'number'" type="number" value="{{r.value}}" [ngClass]="{disabled: r.key === 'id'}"/>
                                <input name="{{r.key}}" *ngIf="getType(r.value) == 'boolean'" type="checkbox" [checked]="r.value"/>
                                <ul class="{{r.key}}" *ngIf="getType(r.value) == 'object'">
                                    <br><li *ngFor="let sr of r.value | keyvalue: asIsOrder">
                                        <label>{{sr.key}}: </label>
                                        <input name="{{r.key}}|{{sr.key}}" *ngIf="getType(sr.value) == 'string'" type="text" value="{{sr.value}}"/>
                                        <input name="{{r.key}}|{{sr.key}}" *ngIf="getType(sr.value) == 'number'" type="number" value="{{sr.value}}"/>
                                        <input name="{{r.key}}|{{sr.key}}" *ngIf="getType(sr.value) == 'boolean'" type="checkbox" [checked]="r.value"/>
                                        <ul class="{{r.key}}|{{sr.key}}" *ngIf="getType(sr.value) == 'object'">
                                            <br><li *ngFor="let ssr of sr.value | keyvalue: asIsOrder">
                                                <span>{{ssr.key}}: </span>
                                                <input name="{{r.key}}|{{sr.key}}|{{ssr.key}}" *ngIf="getType(ssr.value) == 'string'" type="text" value="{{ssr.value}}"/>
                                                <input name="{{r.key}}|{{sr.key}}|{{ssr.key}}" *ngIf="getType(ssr.value) == 'number'" type="number" value="{{ssr.value}}"/>
                                                <input name="{{r.key}}|{{sr.key}}|{{ssr.key}}" *ngIf="getType(ssr.value) == 'boolean'" type="checkbox" [checked]="r.value"/>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <button class="wide" (click)="restUpdate($event.target)">Update</button>
                        <button class="wide red" (click)="restDelete($event.target)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        </div>