<div id="counter">{{state.countvalue}}</div>
  <div id="controls" #controls>
    <fieldset>
      <legend>Setup</legend>
      <button #button [ngClass]="state.count ? 'selected' : '' " id="start">start</button>
      <button #button [ngClass]="state.count ? '' : 'selected' " id="pause">pause</button>
      <button #button id="reset">reset</button>
    </fieldset>
    <fieldset>
      <legend>Count</legend>
      <button #button [ngClass]="state.countup ? 'selected' : '' " id="countup">count up</button>
      <button #button [ngClass]="state.countup ? '' : 'selected' " id="countdown">count down</button>
    </fieldset>
    <fieldset>
      <legend>Set to</legend>
      <input #input type="number" id="settov" [(ngModel)]="set.countvalue">
      <br/>
      <button #button type="number" id="setto">set value</button>
    </fieldset>
    <fieldset>
      <legend>Speed</legend>
      <input #input type="number" id="speed" [(ngModel)]="set.speed">
      <br/>
      <button #button id="setspeed">set speed</button>
    </fieldset>
    <fieldset>
      <legend>Increase</legend>
      <input #input type="number" id="increase" [(ngModel)]="set.increase">
      <br/>
      <button #button id="setincrease">set increase</button>
    </fieldset>
  </div>