@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* Desaturated Triade */
body {
    --tcol-main: rgba(144, 220, 211, 1);
    --tcol-cont1: rgba(173, 97, 169, 1);
    --tcol-cont2: rgba(173, 157, 90, 1);
    --tcol-d-main: rgba(103, 154, 148,1);
    --tcol-d-cont1: rgba(99, 55, 96, 1);
    --tcol-d-cont2: rgba(99, 90, 53, 1);
    --tcol-bg1: rgba(31, 17, 29, 1);
    --tcol-bg2: rgba(31, 28, 16, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Lusitana', serif;
    /* font-family: 'Baskervville', serif; */
    /* font-family: 'Raleway', sans-serif; */
}
.mat-icon {
    vertical-align: middle;
}
.wrapper {
    position: relative;
    /* border-top: 50px solid rgba(0,0,0,.1); */
    background-color: rgba(0,0,0,.1);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.contentInner {
    width: fit-content;
    max-width: min(800px, 96%);
    margin: auto;
}

.content h1,h2,h3,h4 {
    text-align: center;
    margin-bottom: 10px;
}
.h1 {
    font-size: min(40px, 9vw);
}

.pageTitle {
    width: fit-content;
    /* margin:auto; */
    margin-bottom: 10px;
    opacity: .14;
    font-size: min(40px, 10vw);
    font-family: 'Abel', sans-serif;
}
h1,h2,h3,h4 {
    font-family: 'Abel', sans-serif;
}
button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 2px;
}
button.icon {
    padding: 0;
}
button.icon > mat-icon {
    vertical-align: bottom;
}
ul {
    list-style: none;
}

.center {
    text-align: center;
}
.circle80{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 0;
}
.circle60{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 0;
}
.fixedBR {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 500;
}
.fixedBC {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
}
.wide {
    width: 100%;
}

.hidden {
    display: none;
}
.underline {
    border-bottom: 1px solid var(--main-color);
}
.pointer {
    cursor: pointer;
}

input.disabled {
    pointer-events: none;
}

.help {
    cursor: help;
}
.tiny {
    font-size: 50%;
}
.big {
    font-size: 200%;
}
.active, .selected {
    color: var(--tcol-main);
    background: linear-gradient(-75deg, var(--tcol-d-main), var(--tcol-d-cont1));
}
.opacity50 {
    opacity: .5;
}