<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
  <h1 class="center pageTitle">
    {{ title | titlecase }}
  </h1>

  <div class="content"> 
    <div class="contentInner">
    <h1>Welcome to my personal playground</h1>
    <p>please feel free to snoop around and get in touch if you see anything you like.</p>
  </div>
</div>
</div>